.rulings-container__header>h1 {
    margin: 0;
    font-weight: lighter;
}

.rulings-container__header {
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 0 1.5rem 0;
}

.rulings-container__selector {
    border: 2px solid black;
    padding: 0 1rem 0 1rem;
}

.person-container--list {
    display: flex;
    padding: 1rem 2rem 0 2rem;
}

.person-container--grid {
    padding: 1.5rem 0.5rem 1.5rem 0.2rem;
}

.person-content {
    padding-left: 8rem;
}

.person-content--grid {
    padding-left: 0;
}

.person-content__name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
}

.person-content__name--card {
    margin-top: 4rem;
}

.person-content__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.voting-container__eyebrow-text {
    text-align: right;
    margin: 0 0.4rem 0 0;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}

.voting-container__button-row {
    padding: 1rem 0 0 1rem;
    display: flex;
}

.gauge-bar {
    display: flex;
    display: -ms-flexbox;
}

.gauge-bar__content {
    color: var(--color-white);
    width: var(--gauge-percentage);
}

.bg-positive_percent {
    background-color: rgba(var(--color-green-positive), .8);
}

.bg-negative_percent {
    background-color: rgba(var(--color-yellow-negative), .8);
}

.gauge-bar_container_data {
    display: flex;
    padding: 1rem;
}

.gauge-bar_container_positive_data {
    justify-content: start;
}

.gauge-bar_container_negative_data {
    justify-content: end;
}

.voting-container__icon {
    height: 2.1em;
}

.thumb_bar_icon {
    height: 1.4em;
    margin-top: 0.15rem
}

.gauge-bar__text {
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0
}

.gauge-bar__text--positive {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.gauge-bar__text_negative {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.person__gauge-icon {
    display: flex;
}

.person__gauge-icon>img {
    height: 1rem;
}

.person__gauge-icon--align {
    margin-top: 25%;
}

.person__gauge-icon--positive {
    padding: 0.7rem;
    background-color: rgba(var(--color-green-positive));
}

.person__gauge-icon--negative {
    padding: 0.7rem;
    background-color: rgba(var(--color-yellow-negative));
}

.person__card--list {
    margin-top: 1rem;
    background-image: var(--img-background);
    background-size: cover;
}

.voting-container__button-up--selected {
    border: 2px solid !important;
    border-color: white !important;
    background-color: rgba(var(--color-green-positive), .8);
    padding: 0.7rem;
    margin: 0.2rem;
}

.voting-container__button-up {
    background-color: rgba(var(--color-green-positive), .8);
    padding: 0.7rem;
    border: 2px solid;
    border-color: rgba(var(--color-green-positive), .8);
    margin: 0.2rem;
}

.voting-container__button-up:hover {
    background-color: rgba(var(--color-green-positive), 1);
}

.voting-container__button-down {
    background-color: rgba(var(--color-yellow-negative), .8);
    padding: 0.7rem;
    border: 2px solid;
    border-color: rgba(var(--color-yellow-negative), .8);
    margin: 0.2rem;
}

.voting-container__button-down--selected {
    border: 2px solid white !important;
    background-color: rgba(var(--color-yellow-negative), .8);
    padding: 0.7rem;
    border: 2px solid;
    border-color: rgba(var(--color-yellow-negative), .8);
    margin: 0.2rem;
}

.voting-container__button-down:hover {
    background-color: rgba(var(--color-yellow-negative), 1);
}

.voting-container__button-vote {
    border: 1px solid var(--color-white);
    background: rgba(28, 28, 28, 0.6);
    transition: all .5s ease;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.9rem;
    outline: none;
    box-sizing: border-box;
    width: 8.45rem;
    margin: 0.2rem;
}

.flex-container--grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

.person__card--list {
    background-image: var(--card-background);
    background-size: cover, contain;
    background-position: center, left bottom;
    background-repeat: no-repeat, no-repeat;
}

.person__card--grid {
    background-image: var(--card-background);
    background-size: cover, contain;
    background-position: center, left bottom;
}

@media all and (max-width: 1200px) {
    .rulings-container {
        margin: 1rem;
    }

    .flex-container--grid {
        gap: 1rem;
        display: grid;
        grid-template-columns: auto auto;
    }

    .person-content {
        padding-left: 8rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 550px) {

    .flex-container--list {
        gap: 1rem;
        grid-auto-flow: column;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .flex-container--grid {
        gap: 1rem;
        grid-auto-flow: column;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .desk_visible {
        display: none !important;
    }

    .person-content {
        padding-left: 0;
    }

    .person-container--list {
        display: block;
        padding: 1.5rem 2rem 1.5rem 0.2rem;
    }

    .voting-container__icon {
        height: 1em;
    }

    .person__gauge-icon--align {
        margin-top: 25%;
    }

    .person-content__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 4rem 0 0 0;
        color: var(--color-white);
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.75rem;
    }
}

@media all and (min-width: 550px) {
    .mobile_visible {
        display: none !important;
    }

    .person__card--list {
        background-size: cover, contain;
        background-position: center, left bottom;
        background-image: linear-gradient(to right, rgba(77, 77, 75, 0) 1%, #939493 15%, #575757 50%, rgba(6, 6, 6, 0.4) 100%), var(--card-background);
    }

    .voting-container__button-row {
        justify-content: right;
        padding: 1rem 0 0 1rem;
        display: flex;
    }
}

@media all and (min-width: 1200ps) {

    .person__card--list {
        background-size: cover, contain;
        background-position: center, left bottom;
        background-image: linear-gradient(to right, rgba(77, 77, 75, 0) 1%, #939493 15%, #575757 50%, rgba(6, 6, 6, 0.4) 100%), var(--card-background);
    }
}